{% extends 'accounts/dashboard.html' %}


{% block content %}
<div class="container">
    <div class="m-aut0">
        <div class="card m-auto border-0 shadow" style="width: 80%;">
            <div class="card-body">
                {% if employee_form.errors %}
                <div style="color:red; padding:10px; border:1px solid red;">
                    <b>Employee Errors:</b><br>
                    {{ employee_form.errors }}
                </div>
                {% endif %}
                {% if user_form.errors %}
                <div style="color:red; padding:10px; border:1px solid red;">
                    <b>User Errors:</b><br>
                    {{ user_form.errors }}
                </div>
                {% endif %}
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Save</button>
                </form>


            </div>
        </div>
    </div>

</div>


{% endblock %}