{% extends 'accounts/dashboard.html' %}


{% block content %}

<div class="container">
    <div class="card m-auto border-0 shadow" style="width: 70%;">
        <div class="card-body">
            <p>
                Are you sure you want to mark
                <b>{{ employee.name }}</b> as resigned?
            </p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Yes, Mark as Resigned</button>
                <a href="{% url 'employee_list' %}" class="btn btn-success">Cancel</a>
            </form> 
        </div>
    </div>
</div>


{% endblock %}