{% extends 'accounts/dashboard.html' %}

{% block content %}

<h2 class="text-center">Edit Employee - {{ employee.name }}</h2>

<div class="container">
    <div class="card m-auto" style="width: 80%;">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Update Employee</button>
            </form>
        </div>
    </div>
</div>


<br>


{% endblock %}