{% extends 'accounts/dashboard.html' %}

{% block content %}

<div class="container">
    <div class="card m-auto border-0 shadow" style="width: 50%;">
        <h3 class="p-3 text-center">Edit User – {{ user_obj.username }}</h3>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Update User</button>
            </form>
        </div>
    </div>
</div>


<br>
<a href="{% url 'user_list' %}">Back to Users List</a>

{% endblock %}